:host {
    display: block;
    height: 100%;
    width: 100%;
}

.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.blockly-container {
    display: block;
    height: 100%;
    width: 100%;
}